In [86]:
import numpy as np
import pandas as pd

In [87]:
data = pd.read_csv("C:/Studies/Topmentor/batch 73/insurance.csv")
data.head()

   age     sex   bmi  children smoker     region  expenses
0   19  female  27.9         0    yes  southwest  16884.92
1   18    male  33.8         1     no  southeast   1725.55
2   28    male  33.0         3     no  southeast   4449.46
3   33    male  22.7         0     no  northwest  21984.47
4   32    male  28.9         0     no  northwest   3866.86

In [88]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   expenses  1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [89]:
data['sex'] = data['sex'].apply({'male':1,'female':0}.get)
data['smoker'] = data['smoker'].apply({'yes':1,'no':0}.get)
data['region'] = data['region'].apply({'southeast':1,'southwest':0,'northeast':3,'northwest':4}.get)

In [90]:
data.head()

   age  sex   bmi  children  smoker  region  expenses
0   19    0  27.9         0       1       0  16884.92
1   18    1  33.8         1       0       1   1725.55
2   28    1  33.0         3       0       1   4449.46
3   33    1  22.7         0       0       4  21984.47
4   32    1  28.9         0       0       4   3866.86

In [91]:
x= data[['age','sex','bmi','children','smoker','region']]
y = data['expenses']

In [92]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2)

In [93]:
from sklearn.linear_model import LinearRegression
linear_model= LinearRegression()
linear_model.fit(x_train,y_train)

LinearRegression()

In [94]:
y_pred = linear_model.predict(x_test)
print(y_pred)

[34406.31723376 10942.28484929  2615.15475178 11768.21244127
 14681.11760673 27520.48189907 37410.61879388  3907.41205834
 15814.46081098 33930.84236374  9861.43183197  6001.199383
 33259.29570823 14024.07951367 27471.83129082  8661.63475182
 12412.2716844  24790.43429744 17551.36985212 24870.59244837
  3747.12455143 12972.64277074 11458.56276977 15404.81751823
  5382.89272601  5597.28669887  4759.37904132  -679.93523178
  4013.24247006  9838.22122686  5641.76850169  2746.79404546
 12972.30576842 16858.32299843  4194.09385637  6522.82253231
 -1004.59865428 37452.6467166    808.52421443  5224.54010808
  7100.2699144   7142.3339206    973.88219926  8595.98982452
  6778.22578813 11806.14554551  7380.18312159 33591.4518523
 10457.41575378 32616.31854644 11734.99442027 31129.75608574
  5061.41334129 -1016.63056865 11583.74588695 33461.41829225
 10618.00228816  5219.75359384  4935.49229085  1666.03522743
  6936.71646441 11196.84591422 16136.04042196 35758.8382267
 11237.38339367  1522.98491398 38920.57843828 35157.59272997
 28309.67827691 28431.18264174 11064.44030799 34568.27717273
 16277.6309071   2838.39660122 12759.00456505 12514.34886975
  8347.77518565  -827.58691805  4531.54947882  9196.14248038
  1957.06963967 10610.18033986 13540.1133519   6142.86392647
 10661.95280587 30695.82178378  3409.48235038  7198.99473296
 40129.37977432 12216.87383216 14965.05245278 14820.67115661
  9251.60410136  8427.9227912  10551.30845043 11551.06366947
  3563.88889634 14330.88207831 31143.63320821  2307.02898
 14375.69303648  6204.6436656  13758.1041718  40690.60853132
  3269.07883403 17836.37921809   311.39276691  1199.07725864
 30079.50624021 37524.3954097  11354.16205848  9758.45623129
 11076.9956605  12205.31238866  4735.46882209 10547.6114485
 31377.20711048  9149.10037557 34667.07944956  3765.12203048
 32787.12461338 12679.53082137 36768.86920276 16492.5378441
 15564.030648   10968.5747475  12493.41015595 12996.74720137
 11098.45795521 33575.6260383  10071.27613802  5135.44170127
 39950.37685328  6593.11146848   710.7100338  38410.43030874
  8415.98055771  9369.69542792  3583.17794607 11143.73801847
 11932.33952687  8925.90420518  4349.50072112  4438.93605887
 10043.65669426 11722.02016014  3887.70410099 13229.36646389
  6346.22178535 12881.35437792 12449.31699009 16113.12281735
  3605.68449003 11556.03399251 32427.70609745 15822.50724134
 33196.0560694   8193.01941477 10690.76191683 35715.91640708
  9020.45251412 10344.56039266  3254.49432186  7435.02703374
  6862.73655328 10534.24729017  5718.69423737 39367.742026
 31940.61363088  4062.97982082  3737.17343136 30874.26322043
  8938.65850166 -1874.09583121  3509.90535325 28140.95570268
  7779.08155224 11933.65670703 33367.01256008 29880.23083443
 12161.84152142  5776.99686684 35495.88595351  4024.12990892
 37027.12131403  1106.71116013  8844.38319503  8932.06419542
 11826.79577723 33199.7955646   6973.99402774 29068.67374655
 28953.26855773 15478.04173358 11256.86686896 15786.65478863
 15180.2963921   2220.2947724   1569.4061242    381.97018516
 14500.65160021 29675.83184069  9750.02116398   327.63741715
  6128.187035    3311.56167646  4065.67047698 25905.97111965
 13393.79264834 11813.91119799 10049.90629399 11408.14553018
  4224.54208602 34214.53447815 12579.66471308  7224.77173842
  9051.38634981 12685.53761807 33072.61348705  9870.29018255
 13913.09220033  8052.39141635 12829.06894777  8882.89603323
  9318.01723259  4452.25176835 10140.04887867  6881.1044197
  1441.7006085  10383.24148849 16796.69361164  6753.0240696
 35867.50194272 15678.56303099 36837.18716646 28728.8415595
  6738.05869606  2217.40524366  3602.12554645  9532.03034407
  4784.72659377 37094.43888754 16145.09764513  9386.85085885
  3137.39553853  7216.19402295 11544.80955133 30086.79231361
 31166.13982356  8230.21514419 33405.20083272  3383.61121702
  9358.4316461  14414.15749721  5844.54669799  2392.00703024
 30703.86814276  2260.46186447  2778.1512358   5142.07668079
  3968.23715772  6339.31068913  7911.46431909 16946.51703435
 11823.38273897  6585.18936531 13411.92825712 14669.27997514]

In [95]:
accuracy= linear_model.score(x,y)
print(accuracy)

0.7499802351175567

In [96]:
data_new={'age':32,'sex':0,'bmi':22,'children':1,'smoker':0,'region':4}
index=[1]
my_data=pd.DataFrame(data_new,index)
print(my_data)

   age  sex  bmi  children  smoker  region
1   32    0   22         1       0       4

In [97]:
predictions = linear_model.predict(my_data)
print(predictions)

[3858.66725081]